<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="icon" type="image/icon" href="./image/az7OXj4 IMAGEM SITE.png">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">  
    <!-- <link rel="stylesheet" type="text/css" href="./css/cadastro.css"/> -->
    <title>Cadastro</title>
</head>

<style>
  html {
    height: 100%;
    width: 100%;
  }

body {
    background-color: #E3E3E3;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#menu {
    background-color: #285164;
    color: white;
    text-align: center;
    position: relative;
    height: 47px;
    margin-top: 85px;
}

#menu a {
    display: inline-block;
    color: #FDDBB1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0 10px;
}

#menu a:hover {
    background-color: #2E6382;
}

#search {
    float: right;
    margin-top: 7px;
    margin-right: 100px;
}

#search input[type="text"] {
    padding: 8px;
    border: none;
    border-radius: 5px;
    width: 200px;
}

#search button {
    background-color: #285164;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
}

#menu-img {
    width: 90px;
    margin-top: 2px;
    vertical-align: middle;
}

#menu-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Amita', cursive;
    font-size: 30px;
    color: black;
    margin-top: -70px;
}

#content-img {
    width: 100%;
    height: 510px;;
}

#content h1 {
    font-family: Garamond;
    font-size: 40px;
    margin-left: 25px;
    color: #285164;
    padding: 0px 0px 9px;
}

#content h2 {
    font-size: 20px;
    margin-left: 25px;
    margin-top: -10px;
}

#content h3 {
    font-size: 15px;
    margin-left: 25px;
    margin-top: -10px;
}

#content h4 {
    font-size: 20px;
    margin-left: 78px;
    margin-top: 35px;
    color: #4A4A4A;
}

#content h5 {
    font-size: 20px;
    margin-top: 35px;
    color: #4A4A4A;
}

#content h6 {
    font-size: 20px;
    margin-top: 35px;
    color: #4A4A4A;
}

#formulario {
    max-width: 90%;
    margin: 0 auto;
}

#formulario label {
    display: block;
    margin-bottom: 5px;
}

#formulario table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

#formulario th,
#formulario td {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: left;
}

#formulario th {
    background-color: #F0F0F0;
}

#formulario select,
#formulario input[type="date"] {
    width: 50%;
    padding: 8px;
    border: none;
    border-radius: 5px;
}

#formulario div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    top: -50px;
}

#formulario span {
    width: 180px;
    margin-right: 10px;
}

#formulario input[type="submit"] {
    background-color: #285164;
    color: #FDDBB1;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 1273px;
   
}

#formulario input[type="submit"]:hover {
    background-color: #2E6382;
}

#passageiros {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}


@media screen and (max-width: 768px) {
#menu {
        height: auto;
    }

#menu a {
        display: block;
        padding: 10px;
    }

#menu a:not(:first-child) {
        margin-top: 5px;
    }

#menu-text {
        display: none;
    }

#search {
        margin-top: 10px;
        margin-right: 10px;
        
    }
}

footer {
            background-color: #6A9AB1;
            color: white;
            text-align: center;
            padding: 20px ;
        }

        .footer-section {
            margin-bottom: 20px;
        }

        .footer-links {
            text-align: left;
            margin: 10px 0;
        }

        .footer-links a:hover {
            text-decoration: underline; /* Adicionando sublinhado ao passar o mouse */
        }

        .footer-links a {
            display: block;
            color: white;
            text-decoration: none;
            margin: 5px 0;
        }

       
        
        .footer-section {
    display: flex; /* Adicione flex para alinhar os elementos lado a lado */
    /* Distribui os elementos para ambos os lados */
    align-items: center;
  
}

.footer-links {
    margin-left: 25px;
}



.footer-links a {
    display: block;
    color: white;
    text-decoration: none;
    margin: 5px 0;
}


#navbar a {
    display: flex;
    color: #FDDBB1;
    text-decoration: none;
    margin-left: 30px;
    justify-content: center;
    
}

.navbar-nav {
    margin-left: 0px;
}


.navbar-cima {
    font-family: 'Amita', cursive;
    font-size: 30px;
    color: black;
    justify-content: center;
    display: flex;
}

#menu {
    height: auto;
}

#menu a {
    display: block;
    padding: 10px;
}

#menu a:not(:first-child) {
    margin-top: 5px;
}

#menu-text {
    display: none;
}

#search {
    margin-top: 10px;
    margin-right: 10px;
}

.btn {
    background-color: #2E6382;
    border-color: white;
    color: white;
    justify-content: center;
    display: flex;
    margin: auto;
    margin-top: 7px;
    cursor: pointer;
}
</style>
<body>

<!-- NAV INICIO -->

<div id="navbar">
    
    <nav class="navbar-cima">
        <div class="container-">
          <div class="navbar-brand" href="#">
            <img src="../images/az7OXj4 IMAGEM SITE.png" alt="Logo" width="90" height="90" class="d-inline-block">
            Países perfeitos
          </div>
        </div>
      </nav>
  
    <nav class="navbar navbar-expand-lg" style="background-color: #285164">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="tela-home.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="tela-quemSomos.html">Quem somos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="tela-paises.html">Países</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="tela-pacotes.html">Pacotes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="tela-facaSeuRoteiro.html">Faça seu roteiro</a>
              </li>
              
            </ul>
          </div>
        </div>
      </nav>
    </div>
  
    <!-- NAV FIM -->
   
    <!--
    <div id="menu">
        <div id="menu-text">
            <img id="menu-img" src="img/LOGO RAFAELA  (1).png" alt="logo paises" >
            Países Perfeitos
        </div>
        <a href="#">Home</a>
        <a href="#">Quem somos</a>
        <a href="#">Países</a>
        <a href="#">Pacotes</a>
        <a href="#">Faça seu roteiro</a>
        <div id="search">
            <input type="text" placeholder="Pesquisar...">

        </div>
    </div> -->

    <div id="content">
        <img id="content-img" src="../images/foto-pagina-cadastro.jpeg" alt="tela inicial" >
        <h1>Cadastro do usuário</h1>
        <h2>Não encontrou a viagem que procurava?</h2>
        <h3>Nós podemos preparar um roteiro personalizado para você!</h3>
        <br>
  
        <form id="formulario" method="post" action="processar_formulario.php">
            <table>
                <tr>
                    <th><label for="nome">Nome completo:</label></th>
                    <td><input type="text" id="nome" name="nome" placeholder="Nome completo" required pattern="[A-Za-zÀ-ÖØ-öø-ÿ\s]+" title="Apenas caracteres são permitidos"></td>
                    <th><label for="email">Email:</label></th>
                    <td><input type="email" id="email" name="email" placeholder="Email" required></td>
                </tr>
                <tr>
                    <th><label for="cpf">CPF:</label></th>
                    <td><input type="text" id="cpf" name="cpf" placeholder="CPF" required pattern="[0-9]{11}" title="Digite apenas 11 dígitos numéricos"></td>
                    <th><label for="data_nascimento">Data de nascimento:</label></th>
                    <td><input type="date" id="data_nascimento" name="data_nascimento" placeholder="Data de nascimento" required></td>
                </tr>
                <tr>
                    <th><label for="telefone">Telefone:</label></th>
                    <td><input type="tel" id="telefone" name="telefone" placeholder="Telefone" required pattern="[0-9]+" title="Digite apenas números"></td>
                    <th><label for="senha">Senha:</label></th>
                    <td>
                        <!-- <select id="sexo" name="sexo" required>
                            <option value="" disabled selected>Selecione o sexo</option>
                            <option value="feminino">Feminino</option>
                            <option value="masculino">Masculino</option>
                        </select> -->
                        <input type="password" id="senha" name="senha" placeholder="Ditige sua senha" title="DIgite sua senha:">
                    </td>
                    
                </tr>
            </table>
            
            <br>
            <button class="btn">SALVAR E CONTINUAR</button>
            <br>
           
            <!-- 
            <input type="submit" value="Salvar e continuar">
           -->
                
        </form>
    </div>


    <!-- <footer>
        <div class="footer-section">
            <div class="footer-links">
                <h3 class="useful-info-title">INFORMAÇÕES ÚTEIS</h3>
                <a href="#">Passaporte</a>
                <a href="#">Como reservar o seu pacote?</a>
                <a href="#">E-books</a>
                <a href="#">Companhias aéreas</a>
                <a href="#">Documentação de viagem</a>
            </div>
            <div class="footer-links" style="margin-left: 100px; margin-bottom: 80px;">
                <h3>SOBRE A PAÍSES PERFEITOS</h3>
                <a href="tela-quemSomos.html">Quem Somos</a>
                <a href="#">Depoimentos de Clientes</a>
            </div>
        </div>
        <p>Todos os direitos reservados &copy; 2023 Países Perfeitos</p>
    </footer> -->

    
    <script src="JS/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>